.wy-nav-content {
	max-width: 1200px !important;
}

/* Increase margin after code cells */
div.highlight {
  margin-bottom: 20px; 
}

div.output_area.docutils.container {
  margin-bottom: 20px; 
}

div.nboutput.nblast.docutils.container {
  margin-bottom: 20px; 
}
