.wy-nav-content {
	max-width: 1200px !important;
}

/* Increase margin after code cells */
div.highlight {
  margin-bottom: 0px; 
}

div.output_area.docutils.container {
  margin-bottom: 0px; 
}

div.nboutput.nblast.docutils.container {
  margin-bottom: 24px; 
}

/* Reduce margin after text cells from 24px to 12px */
p {
    line-height: 24px;
    font-size: 16px;
    margin: 0 0 12px;
}
